<div class="h-100">
  <form class="h-100 d-flex justify-content-center align-items-center flex-column">
    <div class="form-group pb-2">
      <label>Provide a breef description what happened today</label>
      <textarea class="form-control textarea-regular"></textarea>
    </div>
    <div class="form-group pb-2">
      <label>Provide more detailed description about your day</label>
      <textarea class="form-control textarea-big"></textarea>
    </div>
    <button class="btn btn-primary">Record</button>
  </form>
</div>

